body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/285/172/9/sunset-8k-forest-4k-wallpaper-preview.jpg");
    background-size: cover;
    background: no;
}
.container{
    background-color: azure;
    border-radius: 0.5rem;
    box-shadow: 3cm;
    width: 700px;
    overflow: hidden;
}
.resultArea{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7rem
}
.btn-div{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem
}
.vsbl{
    opacity: 1;
}
.btn{
    pointer-events: none;
}
.none{
    pointer-events: none;
}

.win-loss{
    display: none;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.7rem;
    width: 10rem;
}
.rock{
    cursor: pointer;
    text-align: center;
}

.paper{
    cursor: pointer;
    text-align: center;
}
.scissor{
    cursor: pointer;
    text-align: center;
}
.name{
    margin-right: 1.3rem;
}



.options{
    pointer-events: all;
    opacity: 1;
}



.btn:hover{
    cursor:pointer;
}

.shake{
    
    animation: shake 0.5s ease-in-out infinite;

}
@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.btn{
    width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
    
}

.userResult img{
    max-width: 100%;
    transform: scaleY(-1);
    transform: rotate(90deg);
}
.cpuResult img{
    max-width: 100%;
    transform: rotate(-90deg);
}

.flip{
    transform: scaleY(-1);
}
.optionArea span img{
    max-width: 100%;
    width: 10rem;
    height: 15rem;
    margin-bottom: 2rem
}


.optionArea{
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}

@media only screen and (max-width:425px) {
    .container{
        width: 320px;
        padding: 50px;
    }
    .optionArea span img{
        width: 80px;
        height: 80px;
    }

    .resultArea span img{
        width: 125px;
        height: 100px;
    }
    .btn, .win-loss{
        width: 100px;
        height: 80px;
    }
}