body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/285/172/9/sunset-8k-forest-4k-wallpaper-preview.jpg");
    background-size: cover;
    background: no;
}
.container{
    background-color: azure;
    border-radius: 0.5rem;
    box-shadow: 0cm;
    width: 45rem;
}
.resultArea{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7rem
}
.btn-div{
    display: flex;
    justify-content: center;
    
}
.vsbl{
    opacity: 1;
}
.btn{
    pointer-events: none;
}
.none{
    pointer-events: none;
}

.win-loss{
    display: none;
    cursor: pointer;
    border-radius: 0.3rem;
    padding: 0.7rem;
    width: 10rem;
}
.rock{
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
}

.paper{
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
}
.scissor{
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
}
.name{
    margin-right: 1.3rem;
}
.options{
    opacity: 0.5;
    pointer-events: all;
}
.options:hover{
    transition: 0.3s ease-in-out;
    opacity: 1;
}
.btn:hover{
    cursor:pointer;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
.btn{
    width: 10rem;
    height: 4rem;
    border-radius: 0.5rem;
}
.userResult img{
    
    transform: rotate(90deg);
}
.cpuResult img{
    transform: rotate(-90deg);
}

.optionArea span img{
    width: 10rem;
    height: 15rem;
}

.optionArea{
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}